/**/target
/**/.idea
/**/**/test
/lucene-test/lucene-test.iml
/basicsnlp-test/tokenizer-test.iml
/entity-test/entity-test.iml
/modelstrainer/modelstrainer.iml
/modelstrainer/it-pos-paisa.train
/modelstrainer/it-pos-paisa.bin
/modelstrainer/train-corpus/*
/basicsnlp-test/src/opennlp-models/*

